<a [routerLink]="['/store']" style="position: relative; right: 70px" ><h1>My Store</h1></a>
<a [routerLink]="['/empty']"><h2>History</h2></a>
<a [routerLink]="['/empty']"><h2>Shipping</h2></a>
<a [routerLink]="['/empty']"><h2>Contacts</h2></a>
<a routerLink="/empty" class="button fancy-button">
    <i class="material-icons"></i>Checkout
  </a>
<a [routerLink]="['/empty']"><h2>login/logout</h2></a>